body {
  background-color: black;
 }
h1 {
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(#111, #222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: pink;
 }
hr {
  color: pink;
}
