body {
  background-color: #566573;
 }
h1 {
  font-family:Helvetica, Bold Italic;
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(#e800a6 , #fdd0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
audio {
  text-align: bottom;
 }
div {
  position:bottom;
 }
