body {
  background-image: url("6d4860315973126515234bc3994aa28c.gif");
 }
h1 {
  font-family:Helvetica, Bold Italic;
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(#e800a6 , #fdd0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
